<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<userSettings>
		<UserInteraceLayer.Properties.Settings>
			<setting name="RegistrationId" serializeAs="int">
				<value>0</value>
			</setting>
			<setting name="Username" serializeAs="String">
				<value></value>
			</setting>
			<setting name="Email" serializeAs="String">
				<value></value>
			</setting>
			<setting name="IsAuthenticated" serializeAs="String">
				<value>false</value>
			</setting>
		</UserInteraceLayer.Properties.Settings>
	</userSettings>
</configuration>